global
log 127.0.0.1   local0
log 127.0.0.1   local1 notice
maxconn 4096
tune.ssl.default-dh-param 2048
daemon

defaults
    log         global
    option      dontlognull
    mode        http

# HTTP specific timeouts
    timeout connect     5s
    timeout client      5s
    timeout server      5s
    timeout tunnel      2h

frontend kuzzle
    bind *:7512 ssl crt /etc/ssl/private/snakeoil.pem
    default_backend kuzzle
    mode        http
    option      httpclose
    option      forwardfor

backend kuzzle
    balance roundrobin
    server kuzzleproxy kuzzle:7512 maxconn 100 check

